*
{
    margin: 0;
    padding: 0;
}
.head{
    background-color: #f1f1ff;
    display: flex;
   padding: 30px 0px 0px 100px;
   
}
.logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: #0f172a;
    

}

.headhome
{
    background-color: #f1f1ff;
    width: 80vw;
    /* border: 1px solid black; */
   display: flex;
   justify-content: flex-end;
   
   /* padding-right: 10px; */
   gap: 40px;
   /* padding-left: 0px 0px 0px 0px; */
}

#header{
    display: flex;
    width: 100vw;
    background-color: #f1f1ff;
   position:fixed;
   z-index: 999;
   
 
    

}
#home{
    display: flex;
    gap: 50px;
    list-style: none;
    text-decoration: none;
    align-items: center;
  

}

#home a{
    text-decoration: none;
    text-decoration: none; 
    color: #333333; 
    font-size: 16px; 
    font-family: sans-serif;
    font-weight: 600; 
    transition: 0.3s ease;
}
#home button{
    font-size: large;
    padding: 8px 20px;
    border-radius: 10px;
    background: linear-gradient(to right, #2563EB, #6D28D9);
    color: white;

}

    

.part1{
    /* background-image:url(../webpage/assets/Gemini_Generated_Image_ydnkehydnkehydnk.png); */
    display: flex;
    background-color: #f1f1ff;
    height: 100VH;
    width: 99VW;
   display: flex;
    flex-wrap: wrap; 
    /* justify-content: space-around; */
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 80px 20px 40px;
    box-sizing: border-box;
    
}

.card1
{
margin-left: 120PX;
}

#card1_1{
    color: #155eef;
    font-size:20px;
    font-weight: 600;

}
.card1_2
{
    
    margin-top: 90px;
    font-size: 45px;
    font-weight: 1000;
    font-family: sans-serif;

}


#card1_2_2
{
    color: #155eef;
}

.card1_2_3{
   
    margin-top: 8px;
    font-size: 25px;
    /* padding-right: 60px;
    margin-right: 300px; */
    color: rgb(103, 100, 100);
    font-style: sans-serif;
}

.card1_3{
    
    gap: 20px;
    display: flex;
    align-items: center;
    margin-top: 0px;
  
}

#card1_3_1
{
    color: white;
   font-family: sans-serif;
   font-size: 15px;
   font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

   padding: 20px 50px;
    border-radius: 12px;
    background: linear-gradient(to right, #2563EB, #6D28D9);

    cursor: pointer;
}
#card1_3_2
{
    font-family: sans-serif;
   font-size: 15px;
   font-weight: bold;
   background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

   padding: 20px 50px;
    border-radius: 12px;

    cursor: pointer;
   
}
#btn1_3_1_2
{
    width: 20px;
    color: white;
    cursor: pointer;
    :hover{
        cursor: pointer;
    }

}
#btn1_3_1 :hover
{
     cursor: pointer;
}

/* part 1 side 2 */

#img1
{
    padding-left: 26px;
    width: 300px;
    height: 600px;
}

.cloudlogo
{
    display:flex ;
    justify-content: space-evenly;
     margin-top: 10px;
    padding-top:10px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: gray;
}

.cloudlogo :hover
{
    color: rgb(5, 5, 42);
}

.clientsection
{
    margin-top: 10px;
    padding-top:10px ;
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: 400;
    color: grey;
}


/* part2 */
.part3{
    margin-left: 110px;
    
}
.wwd{
    margin-top: 100px;
    padding-right: 10px;
    width: 110px;
    height: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
     color: blue;
    size: 10px;
    background-color: #eef2ff;
    font-family: sans-serif;
    font-weight: 700;
    justify-content: center;
    margin-bottom: 20px;
    
}

#wwd1{
    color:blue;
    size: 50px;
    display: flex;
    align-items: center;
}
#part3_1
{
    padding-top: 20px;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

#part3_2
{
    margin-top: 20px;
    font-family: sans-serif;
    color: gray;
}






/* card2----------- */
.mainbox{
    border: 1px solid black;
    background-color:#ffffff;
    width: 450px;
    height: 400px;
    margin-top: 200px;
    position: relative;
    left: 200px;
    border-radius: 20px;
}
.line1{
     border: 1px solid black;
     background-color: #eef2ff;
     color: #155eef;
     position: relative;
     left: 370px;
     width: 50px;
     border-radius: 15px;
     display: flex;
     justify-content: center;
     margin-top: 20px;
     height: 20px;
}
.line2{
     
     background-color:#eef2ff;
     margin-top: 20px;
     border-radius: 10px;
     position: relative;
     width: 350px;
     left: 15px;
     height: 12px;
}
.line3{
     
     background-color:#eef2ff;
     margin-top: 20px;
     border-radius: 10px;
     position: relative;
     width: 200px;
     left: 15px;
     height: 12px;
}
.line4{
     
     background-color:#ffffff;
     display: flex;
     margin-top: 30px;
     justify-content: space-evenly;

}

.line4_1{
     border-radius: 15px;
     background-color:#eef2ff ;
     height: 120px;
     width: 200px;
     
}
.line4_2{
     border-radius: 15px;
     background-color: #f4f0ff;
     height: 120px;
     width: 200px;
    

}
.line5{
   
     background-color:#eef2ff ;
     margin-top: 7px;
     height: 70px;
     width: 410px;
     position: relative;
     left: 20px;
     border-radius: 15px;
}

.box2{
    border: 1px solid black;
     background-color:rgb(255, 255, 255);
     position: absolute;
     right: -60px;
     
     width: 190px;
     height: 79px;
     box-shadow:5px 5px 20px gray;
     border-radius: 15px;
padding: 4px;
     top: 360px;
}

#box2_1{
    width: 144px;
    height: 70px;
}
.box1{
     
     position: relative;
     bottom: 30px;
     width: 200px;
    border-radius:16px ;
    background-color:#ffffff ;
     height: 50px;
     display: flex;
     padding: 5px;
     right: 50px;
     box-shadow:5px 5px 20px gray;
     
}

.circle
{
    border: 1px solid black;
    width: 400px;
    background-color: #dfddf9;
    height: 400px;
    position:absolute;
    border-radius: 200px;
    opacity: 100px;
    z-index: -1;

}
#tick{
   align-items: center;
   width: 50px;
   height: 50px;
}

#line4_1_3{
width: 50px;
height: 50px;
}

#line4_1_1{
    font-weight: bolder;
    margin-left: 10px;
}
#line4_1_2{
    color: gray;
    margin-left: 10px;
}

#line4_2_1{
width: 50px;
height: 50px;
}

#line4_2_2{
    font-weight: bolder;
    margin-left: 10px;
}
#line4_2_3{
     color: gray;
    margin-left: 10px;
}

#arrow2{
    width: 20px;
    height: 20px;
}
.part3_3
{
   display: inline;
  align-items: flex-end;
  
}

.part3_3 a{
    text-decoration: none;  /* Underline hatane ke liye */
    color: #155eef;        /* Blue color ke liye */
    font-family: sans-serif;
    font-weight: 600;
    display: inline-flex;  /* Text aur arrow icon ek line mein align karne ke liye */
    align-items: center;
    gap: 8px;
}

.part4_box{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.box{
    width: 250px;
    height: 250px;
    border: 1px solid black;
    margin: 40px;
    padding: 20px;
    border-radius: 20px;
}

.part4_1{
    color: gray;
    font-size: large;
}

.part4_1
{
    font-size: medium;
    margin-top: 5px;
}